@model CreateCategoryVm ;
<div class="container">
    <form method="post">
        <label asp-for="Name" class="form-label">Name</label>
        <input  asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" style="color:red"></span>
        <label asp-for="CatagoryId" class="form-label">CategoryId</label>
        <input asp-for="CatagoryId" class="form-control" />
        <span asp-validation-for="CatagoryId" style="color:red"></span>
       <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>